* {

}
/*подключение шрифтов начало*/
.header__nav li a, .header__right-part {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 15px;
}
h1.presentation__title {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 90px;
}
.presentation__welcome-text {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 15px;
}
.feature__speed_subtitle, .feature__km_subtitle {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 35px;
}
.feature__speed_subtitle, .feature__km_subtitle {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 20px;
}
.feature__speed, .feature__km {
	font-family: 'Montserrat_Regular';
	font-weight: normal;
	font-size: 12px;
}
.test-drive__text, .order-button_transparent.order-button_red {
	font-family: 'Montserrat_Bold';
	font-weight: bold;
	font-size: 13px;
}
h2.tesla-salon__subtitle {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 70px;
}
h3.specifications__subtitle, h3.info__subtitle, h3.safety-rating__subtitle {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 30px;
}
.specifications__text, .info__text {
	font-family: 'Montserrat_Medium';
	font-weight: 500;
	font-size: 15px;
}
.list-specification__item_title {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 35px;
}
.list-specification__item_subtitle {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 20px;
}
.list-specification__item {
	font-family: 'Montserrat_Regular';
	font-weight: normal;
	font-size: 12px;
}
.learn-more, .actions__order-button {
	font-family: 'Montserrat_Bold';
	font-weight: bold;
	font-size: 13px;
}
.list-rating__item {
	font-family: 'Montserrat_Bold';
	font-weight: bold;
	font-size: 17px;
}
.list-rating__item span {
	font-family: 'Montserrat_Bold';
	font-weight: bold;
	font-size: 10px;
}
.rating-result__text span {
	font-family: 'Montserrat';
	font-weight: ;
	font-size: ;
}
.rating-result__text {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 25px;
}
.safety-schema__advantages {
	font-family: 'Montserrat_SemiBold';
	font-weight: 600;
	font-size: 17px;
}
/*подключение шрифтов конец*/
body {
	margin: 0;
	padding: 0;
}
/*стили для хедера и первой части страницы начало*/
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	margin-top: 24px;
}
.header__logo {
	flex-grow: 1;
	margin-left: 42px;
}
.header__nav {
	flex-grow: 2;
	margin-left: 85px;
}
.nav__menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
	padding: 0;
	margin-right: 80px;
}
.nav__menu li {
	list-style-type: none;
	margin-bottom: 5px;
}
.nav__menu li a {
	text-decoration: none;
}
.nav__menu li:first-child {
	margin-left: 73px;
}
.nav__menu li:nth-child(2) {
	margin-left: 37px;
}
.nav__menu li:nth-child(3) {
	margin-right: 17px;
}
.nav__menu li:nth-child(4) {
	margin-right: 19px;
}
.nav__menu li:nth-child(5) {
	margin-right: 40px;
}
.hamburger-menu__checkbox {
	display: none;
}
.header__right-part {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
.header__right-part > * {
	margin-right: 10px;
}
h1.presentation__title {
	text-align: center;
}


/*стили для хедера и первой части страницы конец*/